body,html,form {
height:100%;
display:flex;
flex-direction:column;
background-color:#ede8e8;
}
.header, .menu, .content {
background-color:white;
border:1px solid silver;
}
.header {
width:100%;
height:5%;
order:1;
}
.main {
display:flex;
width:100%;
flex:1;
order:2;
margin-top:10px;
}
.menu {
width:100px;
order:1;
}
.content {
flex:2;
order:2;
margin-left:10px;
height:100%;
}
